proposicoes-2010.csv
proposicoes-2011.csv
proposicoes-2012.csv
proposicoes-2013.csv
proposicoes-2014.csv
proposicoes-2015.csv
proposicoes-2016.csv
proposicoes-2017.csv
proposicoes-2018.csv
proposicoes-2019.csv
proposicoes-2020.csv
proposicoes-2021.csv
proposicoes-2022.csv
proposicoes-2023.csv
proposicoes-2024.csv
